.focusedcell {
    -fx-border-color: #27bd10;
    -fx-border-width: 3;
    -fx-border-radius: 3;
}

.darkcell {
    -fx-background-color: #DDDDDD;
}

.highlightcell.darkcell {
    -fx-background-color: #90bd96;
}

.highlightcell {
    -fx-background-color: #98c59d;
}

.glyph-icon:hover {
    -fx-cursor: hand;
    -fx-fill: black;
}